body {
  background-color: whitesmoke;
}

input,
select {
  margin-bottom: 8px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: "Patrick Hand SC", cursive;
  font-size: 70px;
  text-align: center;
  background-color: #f8e953;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-btns {
  font-family: "Patrick Hand SC", cursive;
  border-radius: 0;
  border: none;
  padding: 10px;
  font-size: 25px;
}

.buttons {
  width: fit-content;
  margin: auto;
}

.content {
  width: 100%;
}

h2 {
  font-family: "Patrick Hand SC", cursive;
  width: fit-content;
  background: whitesmoke;
  padding: 8px;
  font-size: 30px;
}

.pin {
  margin: 0 10px;
}

.board {
  background-image: url("../images/background.jpg");
  min-height: 480px;
  width: 80%;
  margin: 45px auto;
  padding: 10px;
  border: 15px solid #69542b;
}

#new-project {
  background: #ee9193;
}

#new-todo {
  background: #82d37a;
}

.todos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.todo-item {
  padding: 5px;
  background: #ee9193;
  min-height: 170px;
  margin: 5px;
}

h3 {
  font-family: "Patrick Hand SC", cursive;
  margin: 0;
  background-color: whitesmoke;
  width: fit-content;
  padding: 8px;
  font-size: 20px;
}

.todo-item button {
  font-family: "Patrick Hand SC", cursive;
  background: transparent;
  border: none;
  font-size: 20px;
}

p {
  font-family: "Patrick Hand SC", cursive;
  font-size: 18px;
  margin: 8px;
}

.hover-under:hover {
  text-decoration: underline;
}

.addForms {
  background-image: url("../images/background.jpg");
  border: 15px solid #69542b;
  width: 30%;
  min-height: 300px;
  padding: 10px;
  margin: 25px auto;
}

.add-forms {
  background: whitesmoke;
  padding: 15px;
  width: fit-content;
  margin: 10px auto;
}

.display-none {
  display: none !important;
}

#edit-form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: rgba(24, 23, 23, 0.836);
}

#close {
  text-align: right;
  background-color: transparent;
  margin: 0;
  font-size: 45px;
  color: red;
}

#close:hover {
  cursor: pointer;
}
